<div class="page-header">
	<h1>Ruby勉強会 Webテスト</h1>
</div>
<%= form_tag('/auth',:method => :post, id: :fm,class: :search) do %>
<div class="form-group">
	<label class="control-label">NAME</label>
	<%= text_field_tag :username ,'',:class => "form-control" %>
	</br>
	<label>PASSWORD</label><%= password_field_tag :password ,'',:class => "form-control" %>
	</br>
	<%= button_tag 'LOGIN', :type => 'submit',  :class => "btn btn-primary btn-sm" %>
</div>
<% end %>
