
<div class="page-header">
	<h1>結果</h1>
</div>
<h4><%= @q_num %>問中、<%= @currect_num %>問正解です。</h4>

<table class="table table-striped table-hover ">
	<thead>
		<tr><th>#</th><th>True or False</th></tr>
	</thead>
	<tbody>
		<% @user_select.each do |u| %>
			<% if u.currect %>
				<tr class="info"><td><%= u.question_id %></td><td><%= u.currect %></td></tr>
			<% else %>
				<tr class="danger"><td><%= u.question_id %></td><td><%= u.currect %></td></tr>
			<% end %>
		<% end %>
	</tbody>
</table>