<div class="page-header">
	<h1>問題<%= @question.question_id%>/<%= @total %></h1>
</div>
<h4>
	<%= @question.question_text %>
</h4>
<% if @question.code_text %>	
<pre><%= @question.code_text%></pre>
<% end %>
<div class="form-horizontal">
<%= form_tag('question/regist', :method => :post,:class =>"form-horizontal") do %>
	
	<% @choice.each_with_index do |c,idx| %>
		<div class="radio">
		<label>
		<% checked = @user_select_id == idx + 1 ? true : false %>
		<%= radio_button :select, :id, idx + 1,:checked => checked %><%= c.choice_text%></br>
		</label>
		</div>
	<% end %>
	</br>
    
		<%= button_tag @back, :value => @back,:type => 'submit', :class => "btn btn-primary btn-sm", :disabled => @back_disabled%>
		<%= button_tag @next, :value => @next,:type => 'submit', :class => "btn btn-primary btn-sm" %>
		<%= hidden_field :page, :id, :value => @question.question_id %>
</div>
<% end %>
</br>
